@media (max-width: 100%){
	.my{
		width: 100%;
	}		
}
@media (min-width: 901px) and (max-width: 930px){
	.a1 li:nth-child(3){			
		width: 48%;
	}
	.a1	li:last-child{			
		width: 50%;
	}
}
@media (min-width: 599px) and (max-width: 901px){
	.a1, .a2{
		flex-basis: 100%;
	}	
}

